<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8 />
<title>Demo Blog</title>
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css">
</head>
<body>
  <div ng-app="app" class="container">
    <div class="row" ng-controller="main">

      <modal after-open="modalOpened('hey')" showing="showingModal_1" color="green">
        I am content for modal 1
      </modal>

      <modal after-open="modalOpened('ho')" showing="showingModal_2" color="red">
        I am content for modal 2
      </modal>
      
      <div class="col-md-4">
        <h1>Counter</h1>
        <div>Counter {{ counter }} </div>

        <h1>Async Response</h1>
        <div>
          <ul>
            <li ng-repeat="asyncItem in asyncItems">{{ asyncItem.name }}</li>
          </ul>
        </div>

        <h1>Modal Dialog</h1>
        <div>
          <a ng-click="showingModal_1 = true" ng-show="!showingModal_1">Show Dialog 1</a>
          <a ng-click="showingModal_1 = false" ng-show="showingModal_1">Hide Dialog 1</a>
        </div>
        <div>
          <a ng-click="showingModal_2 = true" ng-show="!showingModal_2">Show Dialog 2</a>
          <a ng-click="showingModal_2 = false" ng-show="showingModal_2">Hide Dialog 2</a>
        </div>

        <h1>Custom Template</h1>
        <custom-table headings="[ 'Bob', 'Joe', 'Sue' ]"></custom-table>


      </div>

      <div class="col-md-4">
        <h1>Suffix</h1>
        <div>{{ mainControllerSuffix }}</div>

        <h1>Address Book</h1>
        <div ng-controller="people">
          <div ng-repeat="person in data">
            ID# {{ person.id }} is {{ person.name }}
          </div>
          <input type="text" ng-model="name"/>
          <a href="#" ng-click="save(name)">Save!</a>
        </div>

        <h1>Math</h1>
        <div ng-controller="math">
          <div>{{ mainControllerSuffix }}</div>
          I can add: {{nums.first }} + {{nums.second}} =  {{ nums.first + nums.second }}
          <a href="#" ng-click="incFirst()">inc!</a>
          <div ng-hide="(nums.first + nums.second) % 2 !== 0">I am even</div>
          <div ng-hide="(nums.first + nums.second) % 2 === 0">I am odd</div>
        </div>

      </div>
      
      <div class="col-md-4">
        <h1>Transclusion Confusion</h1>
        <h2>Just as wrapper</h2>
        <div simple-wrapper>
          <div>hi! I should be in a grey box</div>
        </div>
        

        <h2>Using transclude : "element"</h2>
        <div complex-wrapper style="background-color:grey;">
          <div>hi! I should be in a grey box whihch is in a yellow box</div>
          <div> {{ mainControllerSuffix }}</div>
        </div>

        <h1>Bloggy</h1>
        <div><a href="" ng-click="fetchBlogs()" ng-show="blogs.length == 0">Fetch Some Blogs</a></div>
        
        <table class="table table-striped" ng-show="blogs.length > 0">
          <tr>
            <th>Title</th>
            <th>Num Readers</th>
            <th>Actions</th>
          </tr>

          <tr ng-repeat="blog in blogs" blog-item></tr>

        </table>

        <div><a href="" ng-click="setNewBlogState(true)" ng-show="!showingNewBlog">New Blog</a></div>

        <form ng-show="showingNewBlog" ng-submit="addNewBlog(newBlog)">
          <input ng-model="newBlog.title" type="text" />
          <input ng-model="newBlog.readers" type="text" />
          <button type="submit" class="btn btn-primary">Add!</button>
          <button type="button" class="btn btn-danger" ng-click="setNewBlogState(false)">Cancel</button>
        </div>

      </div>
    </div>
  </div>  
  <script src="js/lib/angular.min.js"></script>
  <script src="js/lib/angular-resource.js"></script>
  <script src="js/app/main.js"></script>
</body>
</html>